<%= form_with(model: @book, local:true, class: 'mx-auto md:w-2/4 my-14 px-2') do |f| %>
  <div class="my-5">
    <%= f.label 'title' %>
    <%= f.text_field :title %>
  </div>

  <div class="my-5">
    <%= f.label :author_id %>
    <%= f.collection_select :author_id, @authors, :id, :name, include_blank: true %>
  </div>

  <div class="my-5">
    <%= f.label :new_author_name %>
    <%= f.text_field :new_author_name %>
  </div>

  <%= f.submit "submit" %>
<% end %>
