<div class="px-10 md:px-0">
  <%= form_with(model: @user_book, local:true) do |f| %>
    <div>
      <div id="secondDiv" class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
          <%= f.label "Find your book in list:", class: "block mb-4 text-md font-medium text-gray-900" %>
          <%= f.collection_select :book_id, @books, :id, :title, { include_blank: true }, class: "w-64 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-stone-500 focus:border-stone-500 p-2.5" %>  
        
          <p class="mt-6 text-red-700">There is no your book in our list? Don't worry! Just add it!</p>
        </div>

        <div>
        <p class="block mb-4 text-md font-medium text-gray-900">Add new book:</p>
          <div class="mb-8">
            <%= f.text_field :title, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "Write book's title" %>

            <%= f.label "Find author in list:", class: "block my-4 text-md font-medium text-gray-900" %>
            <%= f.collection_select :author_id, @authors, :id, :name, { include_blank: true }, class: "w-64 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-stone-500 focus:border-stone-500 p-2.5" %>
          </div>

          <div>
            <p class="block my-4 text-md font-medium text-gray-900">There is no needed author in our list? Add them:</p>
            <%= f.text_field :new_author_name, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "Write book's author" %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "Submit book", class: "mt-16 bg-transparent hover:bg-stone-500 text-stone-700 font-semibold hover:text-stone-100 py-2 px-4 border border-stone-700 hover:border-transparent rounded" %>
      </div>
    </div>
  <% end %>
</div>
